{% extends "layout.html" %}

{% block container %}
{% import "_macros.html" as macros %}

<div class="bg-neutral-primary-soft block max-w-sm p-6 border border-default rounded-base shadow-xs">
    <a href="#">
        <img class="rounded-base" src="../static/src/img/images (1).jpg" alt="" />
    </a>
    <a href="#">
        <h5 class="mt-6 mb-2 text-2xl font-semibold tracking-tight text-heading">Nombre: {{nombre}}</h5>
        <h5 class="mt-6 mb-2 text-2xl font-semibold tracking-tight text-heading">Apellidos: {{apellidos}}</h5>
    </a>
    <p class="mb-6 text-body">Email: {{email}}</p>
    <p class="mb-6 text-body">Telefono: {{telefono}}</p>
    <a href="index.html" type="button" class="text-success bg-neutral-primary border border-success hover:bg-success hover:text-white focus:ring-4 focus:ring-neutral-tertiary font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none">Regresar</a>
    <a type="button" class="text-warning bg-neutral-primary border border-warning hover:bg-warning hover:text-white focus:ring-4 focus:ring-neutral-tertiary font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none">Editar</a>
</div>


{%endblock%}